﻿* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    height: 100%;
    position: relative;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.full-page {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 200px;
}


/* Header styles */

header {
    height: 200px;
    background-color: #3f9ca4;
    display: grid;
}

.header-logo {
    width: 250px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
}

/* Footer styes */

footer {
    height: 200px;
    width: 100%;
    background-color: #f0f0f0;
    display: grid;
    position: absolute;
    bottom: 0;
}

/* Product list styles */

.product-list>.el-pagination {
    margin-top: 20px;
}

.product-list > table td, .product-list > table th {
    padding: 20px;
}