﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MMT Shop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/polyfills")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/element-ui")
    @Styles.Render("~/Content/element-ui")
    <script>
        page = {};
        ELEMENT.locale(ELEMENT.lang.en)
    </script>
    @Scripts.Render("~/bundles/api")
</head>
<body>
    <div class="full-page">
        <header>
            <a href="/">
                <div class="header-logo">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 682.1 107.9" class="mmt-logo" xml:space="preserve">
                    <g>
                    <path class="st1" d="M518.8,60.4v-6.5h18.9v23.3c-3.6,2-10.6,4.5-18.8,4.5c-16.2,0-27-11.3-27-27c0-16.6,11.6-28.2,28.8-28.2
                c6.7,0,12.2,1.7,15.3,3.1l-0.1,7.4c-3.6-1.9-8.9-4.1-15.1-4.1c-13.9,0-21.1,8.8-21.1,21c0,13,8,21.3,20.9,21.3c4.5,0,7.7-0.8,9.7-2
                v-13h-11.5V60.4z M654.7,81V27h7.3v47.5h20.1V81H654.7z M625.7,44.3c-1-2.7-1.6-4.9-2.1-6.7h-0.1c-0.5,2-1.1,4-2.1,6.6l-6,16.4
                h15.9L625.7,44.3z M639.4,81l-5.5-14.1H613L607.9,81h-7.2l20.8-54.1h4.7l21,54.1H639.4z M603.1,33.5H588V81h-7.4V33.5h-15.5V27
                h40.2L603.1,33.5z M549.9,81h7.3V27h-7.3V81z M474.7,81h7.3V27h-7.3V81z M435.8,33.5h-6.6v41h6.5c15.8,0,21.5-9.9,21.5-21
                C457.2,42.3,450.5,33.5,435.8,33.5z M435.2,81h-13.3V27h13.3c20.2,0,29.6,11.3,29.6,26.4C464.8,68.8,455.1,81,435.2,81z
                 M393.9,37.1h-14.3V81h-12.7V37.1h-15.8V27h45.4L393.9,37.1z M333.3,81V53.5c0-2,0-4.2,0.1-5.8h-0.1c-0.5,1.2-2.7,4.3-3.6,5.7
                l-8.8,13.3h-5.5l-10.1-13.8c-1.1-1.6-2.5-3.2-3.6-5.2h-0.2c0.1,1.8,0.1,3.9,0.1,5.4V81h-12.5V27h11.3L314,45.9
                c1.6,2.3,2.9,4.2,4.2,6.4h0.2c1-2,2.3-4.3,3.9-6.8L334.4,27h11.4v54H333.3z M267.7,81V53.5c0-2,0-4.2,0.1-5.8h-0.1
                c-0.5,1.2-2.7,4.3-3.6,5.7l-8.8,13.3h-5.5l-10.1-13.8c-1.2-1.6-2.5-3.2-3.6-5.2h-0.2c0.1,1.8,0.1,3.9,0.1,5.4V81h-12.5V27h11.3
                l13.5,18.8c1.6,2.3,2.9,4.2,4.2,6.4h0.2c1-2,2.3-4.3,3.9-6.8L268.7,27h11.4v54H267.7z"></path>
                    <path class="st0" d="M56.1,54.9c-11.7,32.2-28.7,48-42.6,53L0,94.5c5.7-7,13.4-19.2,20.8-39.7C34.5,17.5,55.6,1.4,71.6,0l10,10
                C74.4,17,64.7,31.1,56.1,54.9"></path>
                    <path class="st0" d="M100.1,54.9c-11.7,32.2-28.7,48-42.6,53L44,94.5c5.7-7,13.4-19.2,20.8-39.7C78.5,17.5,99.6,1.4,115.6,0l10,10
                C118.4,17,108.7,31.1,100.1,54.9"></path>
                    <path class="st0" d="M144.1,54.9c-11.7,32.2-28.7,48-42.6,53L88,94.5c5.7-7,13.4-19.2,20.8-39.7C122.5,17.5,143.6,1.4,159.6,0
                l10,10C162.4,17,152.7,31.1,144.1,54.9"></path>
                </g>
            </svg>
                </div>
            </a>
        </header>
        <div class="container body-content">
            @Html.Partial("_SiteCategories")
            @RenderBody()
            <hr />
        </div>
        <footer></footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
