﻿<div id="category-navigation">
    <div class="navbar" v-cloak>
        <div class="navbar-header">
            <ul class="nav navbar-nav" v-for="category in categories">
                <li><a :href="getUrl(category)">{{category.name}}</a></li>
            </ul>
        </div>
    </div>
</div>

<script>
    page.nav = new Vue({
	    el: '#category-navigation',
	    data: {
		    categories: []
	    },
	    mounted: function () {
		    this.updateCategories();
	    },
	    methods: {
		    getUrl: function (category) {
			    return '/categories/' + category.id + '/products';
		    },
		    updateCategories: function () {
			    var self = this;
			    page.api.getCategories(this.pageInfo).then(function (categories) {
				    self.categories = categories;
			    });
		    }
	    }
    })
</script>