﻿@{
    ViewBag.Title = "Home Page";
}

<div id="featured-products">
    <div class="product-list" v-cloak>
        <h4> Featured content</h4>

        <table>
            <thead>
                <tr>
                    <th>
                        SKU
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Price
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="product in products">
                    <td>
                        {{ product.sku }}
                    </td>
                    <td>
                        {{ product.name }}
                    </td>
                    <td>
                        {{ product.price }}
                    </td>
                </tr>
            </tbody>
        </table>
        <el-pagination background
                       :page-size="pageInfo.pageSize"
                       :current-page="pageInfo.pageNo"
                       layout="prev, pager, next"
                       @@current-change="changePage"
                       :total="productCount">
        </el-pagination>
    </div>
</div>

@section scripts {
<script>
    page.featuredProducts = new Vue({
        el: '#featured-products',
        data: {
            pageInfo: {
                pageNo: 1,
                pageSize: 4
            },
            products: [],
            productCount: 0
        },
        mounted: function () {
            this.updateFeaturedProducts();
        },
        methods: {
            changePage: function (pageNo) {
                this.pageInfo.pageNo = pageNo;
                this.updateFeaturedProducts();
            },
            updateFeaturedProducts: function () {
                var self = this;
                page.api.getFeaturedProducts(this.pageInfo).then(function (data) {
                    self.products = data.items;
                    self.productCount = data.totalCount;
                });
            }
        }
    })
</script>
}
