﻿@using MMT.Shop.Models;

@model Category

@{
    ViewBag.Title = Model.Name;
}

<div id="products-in-category">
    <div class="product-list" v-cloak>
        <h4> Products in category {{category.name}}</h4>

        <table>
            <thead>
                <tr>
                    <th>
                        SKU
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Price
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="product in products">
                    <td>
                        {{ product.sku }}
                    </td>
                    <td>
                        {{ product.name }}
                    </td>
                    <td>
                        {{ product.price }}
                    </td>
                </tr>
            </tbody>
        </table>
        <el-pagination background
                       :page-size="pageInfo.pageSize"
                       :current-page="pageInfo.pageNo"
                       layout="prev, pager, next"
                       @@current-change="changePage"
                       :total="productCount">
        </el-pagination>
    </div>
</div>

@section scripts {
<script>
    page.data = {
        category: {
            id: @Model.Id,
            name: '@Model.Name'
        }
    }

    page.productsInCategory = new Vue({
        el: '#products-in-category',
        data: {
            category: page.data.category,
            pageInfo: {
                pageNo: 1,
                pageSize: 4
            },
            products: [],
            productCount: 0
        },
        mounted: function () {
            this.updateProducts();
        },
        methods: {
            changePage: function (pageNo) {
                this.pageInfo.pageNo = pageNo;
                this.updateProducts();
            },
            updateProducts: function () {
                var self = this;
                page.api.getProductsInCategory(this.category.id, this.pageInfo).then(function (data) {
                    self.products = data.items;
                    self.productCount = data.totalCount;
                });
            }
        }
    })
</script>
}
